package com.ctl.aoc.kotlin.y_YEAR_

import com.ctl.aoc.kotlin.utils.InputUtils
import org.junit.jupiter.api.Test

import org.junit.jupiter.api.Assertions.*

internal class Day_DAY_Test {

    val puzzleInput = InputUtils.getLines(_YEAR_, _DAY_)

    @Test
    fun solve1() {
        Day_DAY_.solve1(puzzleInput)
    }

    @Test
    fun solve2() {
        Day_DAY_.solve2(puzzleInput)
    }
}